body {
  font-family: sans-serif;
  margin-top: 80px;
}
.full-page {
  background-position: center center;
  background-attachment: fixed;
  background-size: 100%;
}
.page-card {
  position: relative;
  margin: 0 auto;
  background: linear-gradient(
    2deg,
    rgba(223, 223, 235, 0.445) 51.5%,
    rgba(19, 41, 165, 0.308) 86.8%
  );
  max-width: 800px;
  padding: 50px 50px;
  border: solid;
  border-radius: 15px;
  border-width: 2px;
  border-color: #e9ebeeb9;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
}

h1 {
  color: #4884b4;
  text-align: center;

  font-weight: bold;
  font-size: 25px;
  font-family: atkiv Grotesk;
  margin: 1px 245px;
  position: absolute;
}

.btn {
  display: block;
  background-color: #4884b4;
  color: white;
  border-radius: 13px;
  padding: 12px 30px;
  margin: -52px 573px;

  font-size: 18px;
  font-weight: bold;
  margin-top: -54px;
}
.btn:hover {
  cursor: pointer;
  background-color: #e8f3dc;
  color: #42a5f5;
  font-weight: bolder;
}
.form-control {
  border: solid;
  border-radius: 13px;
  border-color: #f5faf131;
  border-width: 6px;
  margin-left: -5px;
  padding: 21px 20px;

  margin-top: 70px;
}
.current-location {
  margin-top: 40px;
  margin-bottom: 55px;
  padding: 1px;
  margin-right: 122px;
  border-radius: 13px;
  margin-left: 379px;
  color: #5a6275;
  background-color: #eeeff1;
}
.current-location:hover {
  cursor: pointer;
  color: #42a5f5;
  text-decoration: underline;
}
.city {
  font-size: bolder;
  position: relative;
  font-size: 40px;
  margin: 0 -6px;
  color: #5a6275;
}
.rainday {
  margin: -3px -5px;
  color: #5a6275;
}
.temp-display {
  font-size: bolder;
  font-size: 40px;
  margin: 9px 50px;
  padding: 4px 17px;
  color: #5a6275;
}
.status {
  margin: -15px 90px;
  margin-bottom: 5px;
  color: #5a6275;
}
.degree {
  border: solid;
  border-color: #ced6e6;
  border-radius: 13px;
  margin: -20px -220px;
  margin-left: -128px;
  padding: 5px;
  border-width: 3px;
}
.active {
  color: #5a6275;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}
.temperature-data {
  margin: -5px;
}
.units {
  font-size: 18px;
  color: #4883b4;
  position: relative;
  top: -15px;
  margin: 3px;
}
.forecast {
  display: block;
  color: #4883b4;
  background-color: #bed0df41;
  font-size: 22px;
  border-radius: 13px;
  margin: 35px;
  margin-right: 565px;
  margin-left: -5px;
  margin-bottom: 38px;
}
.col {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  border: solid;
  border-radius: 15px;
  border-width: 2px;
  border-color: #daedfd81;
  margin-top: -25px;
  margin-bottom: -10px;
  margin-right: -9px;
  margin-left: 6px;
  padding-right: 7px;
  padding-left: 2px;
  color: #5a6275;
}
.eight {
  border: -1px;
  border-right: -6px;
  margin-right: 10px;
}
.day-date {
  background-color: #fafbfc36;
}
#weatherdescription {
  text-transform: capitalize;
}
#min-temperature {
  font-weight: lighter;
  color: #5a6275;
  opacity: 0.6;
}
#max-temperature {
  font-weight: 550;
}
.emoji {
  font-size: 35px;
}
.future-icon {
  position: relative;
  margin: -15px;
}
footer {
  text-align: center;
  margin-bottom: -50px;
  margin-top: 8px;
  color: #5a6275;
}
.coder {
  background-color: #d6d8dd77;
  color: rgb(59, 56, 56);
}
.coder:hover {
  cursor: pointer;
  background-color: #42a5f5;
  color: white;
}
